body {
  font-family: "Roboto Slab", serif;
  margin: 0;
}
#background-img {
  background-image: url(https://www.teahub.io/photos/full/41-419298_background-image-for-restaurant-website.jpg);
}
.logo1 {
  width: 150px;
}
.title {
  font-size: 60px;

  color: rgb(255, 233, 233);
  text-align: center;
}
.flex {
  display: flex;
  padding-left: 2%;
  margin-bottom: 100px;
}
.bg1 {
  background-image: url(images/7.png);
  height: 350px;
}
.space1 {
  width: 50%;
}
.f1 {
  font-size: 50px;
}
.wordsgn1 {
  color: orangered;
}
.img1 {
  width: 400px;
  padding-left: 150px;
  margin-top: 50px;
}
.deco {
  text-decoration: none;
}
.linkcolor {
  background-color: red;
  color: white;

  padding-left: 2px;
  padding-right: 2px;
  border-radius: 5px;
  font-size: 15px;
}
.space2 {
  width: 50%;
  margin-top: 50px;
  padding-right: 4%;
  text-align: justify;
}
#center {
  text-align: center;
}
.flex1 {
  display: flex;
}
.s {
  width: 50%;
  padding-left: 15%;
  box-shadow: 10px 10px 20px black;
  border-radius: 5%;
}
.center1 {
  width: 50%;
  padding-left: 15%;
}
.background {
  background-color: gray;
  margin: 0 3%;
}
footer {
  text-align: center;
  color: whitesmoke;
  background-color: rgb(22, 14, 10);
  background-position: 100%;
}
.img2 {
  width: 150px;
}
.img3 {
  width: 150px;
  border-radius: 20px;
}

.div-edit {
  padding-left: 3%;
  border-radius: 20px;
  box-shadow: 1px 1px 20px gray;
  width: 15%;
  padding-top: 3%;
  /* margin-left: 15%; */
  height: 8.75cm;
  /*border: 1px solid red;*/
}
.txt-edit {
  width: 150px;
  padding-bottom: 10%;
  text-align: center;
}

.flex1 {
  display: flex;
  margin-bottom: 50px;
  margin-top: 20px;
  /*border: 1px solid black;*/
  justify-content: space-evenly;
}
